@import "../styles/functions.scss";
@import "../styles/mixins.scss";
@import "../styles/variables.scss";

.countryCard {
  background: $white;
  border-radius: rem(3px);
  overflow: hidden;

  p {
    margin-bottom: 0;
    font-size: rem(14px);
  }

  &__content {
    padding: rem(25px);
  }

  &__name {
    font-size: rem(16px);
  }
}
