$site-width: 1440px;
$gutter: 80px;

$white: hsl(0, 0%, 100%);
$grey-light: hsl(0, 0%, 98%);
$grey-dark: hsl(0, 0%, 52%);
$blue-vvdark: hsl(207, 26%, 17%);
$blue-vvdark2: hsl(200, 15%, 8%);
$blue-dark: hsl(209, 23%, 22%);
