@import "./styles/normalize.scss";
@import "./styles/scaffolding.scss";
@import "./styles/variables.scss";
@import "./styles/fonts.scss";
@import "./styles/typography.scss";

body {
  background: $grey-light;
}

.appWrapper {
  max-width: $site-width;
  margin: 0 auto;
  padding: 0 $gutter;
}
